[submodule "conextsolution/recruitment"]
	path = conextsolution/recruitment
	url = git@github.com:conextsolution/recruitment.git
	branch = master

[submodule "conextsolution/ConextSolution"]
	path = conextsolution/ConextSolution
	url = git@github.com:conextsolution/ConextSolution.git
	branch = master_prod

[submodule "conextsolution/Marketing"]
	path = conextsolution/Marketing
	url = git@github.com:conextsolution/Marketing.git
	branch = demo_marketing

[submodule "conextsolution/website"]
	path = conextsolution/website
	url = git@github.com:conextsolution/website.git
	branch = master
